
.show-menu{
  background-color: #F8F8FF;
}

.show-contents{
  width: 80%;
  margin: 0 10%;
}

.bento-name{
  font-size: 40px;
  padding-top: 40px;
  border-bottom: 1px solid gray;
  text-shadow: 1px 2px 3px #808080;
  font-style: italic;
  padding-bottom: 7px;
}

.show-image-contents{
  display: flex;
  justify-content: space-between;
}

.show-top-contents{
  width: 100%;
}

.image-top{
  width: 600px;
  height: 350px;
  margin-top: 100px;
  border-radius: 30px;
}

.top-right{
  display: flex;
  text-align: center;
}

.price-bento{
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
  padding-left: 200px;
  font-family: monospace;
}

.bento-price{
  font-size: 30px;
  margin-top: 100px;
  padding-top: 60px;
}

.menu{
  margin-top: 80px;
}

.food{
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  font-size: 25px;
  padding-left: 180px;
}

.nut{
  margin-top: 20%;
  font-size: 30px;
  text-shadow: 1px 2px 3px #808080;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.nut-contents{
}

.contents-nut{
  display: flex;
  margin-top: 40px;
  margin-bottom: 50px;
  border-bottom: 1px solid gray;
  padding-bottom: 50px;
}

.show-nut{
  border: 1px solid gray;

}

.nut-lists{
  border-bottom: 1px solid gray;
  font-size: 20px;
  padding: 15px 60px 15px 60px;
  background-color:#DCDCDC;
}

.nut-list{
  font-size: 20px;
  padding: 15px 60px 15px 60px;
  text-align: center;
  background-color: white;
}


.center-right{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 100px;
}

.item-blue-btn{
  text-decoration: none;
  margin-left: 40px;
  margin-bottom: 100px;
  color: white;
  background-color: blue;
  padding: 10px 60px 10px 60px;
  border: 1px solid black;
  border-radius: 1em;
}

.item-red-btn{
  text-decoration: none;
  margin-left: 40px;
  margin-bottom: 100px;
  color: white;
  background-color: #FF0000;
  padding: 10px 60px 10px 60px;
  border: 1px solid black;
  border-radius: 1em;
}

.item-green-btn{
  text-decoration: none;
  margin-left: 40px;
  margin-bottom: 100px;
  color: white;
  background-color: #FF0000;
  padding: 10px 60px 10px 60px;
  border: 1px solid black;
  border-radius: 1em;
}
