<div class='footer'>
  <div class='footer-contents'>
    <div class='bento-details'>
      <h2 class='footer-content-head'>HelthLunchについて</h2>
      <ul>
        <li>会社概要</li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class='bento-details'>
      <h2 class='footer-content-head'>HelthLunchについて</h2>
      <ul>
        <li>HelthLunch一覧</li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class='purchase-btn'>
</div>
</div>