

.main-contents{
  width: 100%;
  height: 100%;
  background-color: yellow;
}

.main-pic{
  text-align: center;
}

.item-contents{
  margin-top: 40px;
  width: 70%;
  height: 50vh;
}

.category-item{
  margin-top: 40px;
  margin: 0 auto;
}

.title{
  margin-top: 30px;
}

.menu-category{
  margin: 0 auto;
}

.item-menu{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;

}

.bento-contents{
  width: 400px;
  height: 300px;
}
