// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.section{
  background-color: #FFFFEE;
  width: 100vw;
  height: 100vh;
}

.rating-box .rating .fa{
  font-size: 30px;
  color: #fc0;
  cursor: pointer;
  background-color: #FFFFEE;
}

.main-rating{
  // display: flex;
}

.rating-value-display{
  font-size: 20px;
}

.ratings{
  font-size: 40px;
}

.fa{
  color: #fc0
}


