.registration-main{
  width: 100vw;
  height: 100vh;
}

.form-login{
  display: flex;
  justify-content: center;
}

.login-wrap{
  text-align: center;
}

.form-login-header{
}

.form-header{
  font-size: 40px;
  text-shadow: 1px 2px 3px #808080;
}

.body-text{
  border: 1px solid black;
  padding: 80px 60px 60px 60px;
  margin-top: 40px;
  background-color: white;
  opacity: 0.8;
}

.form{
  font-size: 20px;
  text-shadow: 1px 2px 3px #808080;
  width: 50%;
}

.form-mail-wrap{
  margin-bottom: 10px;
  font-size: 20px;
}

.password-text-wrap{
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}

.login-btn{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.login-red-btn{
  padding: 12px 24px;
  margin-top: 50px;
  font-weight: bold;
  border-radius: 4px;
  background-color: #9eaab6;
  box-shadow: 0px 2px 2px 1px #dcdcdc;
  border-bottom: solid 5px #778899;
  text-decoration: none;
  color: #fff;
  width: 50%;
}